<div class="lista-container">
  <div class="header">
    <h1>Lista de Compra</h1>
    <form [formGroup]="listaForm">
      <input type="text" formControlName="itemInput" placeholder="Agregar ítem...">
      <button type="button" (click)="agregarItem()">Agregar</button>
    </form>
  </div>
  <div class="list-content">
    <ul>
      <li *ngFor="let item of listaCompra; let i = index">
        <span class="item-content">{{ item }}</span>
        <span class="delete" (click)="eliminarItem(i)">✗</span>
      </li>
    </ul>
  </div>
</div>
