<div class="notebook-container">
  <div class="notebook">
    <div class="notebook-binding">
      <div class="buckle"></div>
      <div class="buckle"></div>
      <div class="buckle"></div>
    </div>
    <div class="page">
      <router-outlet></router-outlet>
    </div>

    <div class="tab">
      <ng-container *ngIf="!isLoggedIn">
        <button class="tablinks" [routerLink]="['/notebook/auth/login']" [class.active]="currentTab === 'Login'" (click)="setCurrentTab('Login')">Login</button>
        <button class="tablinks" [routerLink]="['/notebook/auth/registro']" [class.active]="currentTab === 'Registro'" (click)="setCurrentTab('Registro')">Registro</button>
        <button class="tablinks" [routerLink]="['/notebook/auth/recuperar-password']" [class.active]="currentTab === 'RecuperarPassword'" (click)="setCurrentTab('RecuperarPassword')">Recuperar</button>
        <button class="tablinks" [routerLink]="['/notebook/auth/verificar-email']" [class.active]="currentTab === 'VerificarEmail'" (click)="setCurrentTab('VerificarEmail')">Verificar</button>
      </ng-container>
    
      <ng-container *ngIf="isLoggedIn">
        <button class="tablinks" [routerLink]="['/notebook/lista-compra']" [class.active]="currentTab === 'ListaCompra'" (click)="setCurrentTab('ListaCompra')">Lista de Compra</button>
        <button class="tablinks" [routerLink]="['/notebook/cartera']" [class.active]="currentTab === 'Cartera'" (click)="setCurrentTab('Cartera')">Cartera y Gastos</button>
        <button class="tablinks" [routerLink]="['/notebook/notas']" [class.active]="currentTab === 'Notas'" (click)="setCurrentTab('Notas')">Notas</button>
        <button class="tablinks" [routerLink]="['/notebook/calendario']" [class.active]="currentTab === 'Calendario'" (click)="setCurrentTab('Calendario')">Calendario</button>
        <button class="tablinks" [routerLink]="['/notebook/recordatorios']" [class.active]="currentTab === 'Recordatorios'" (click)="setCurrentTab('Recordatorios')">Recordatorios</button>
        <button class="tablinks" [routerLink]="['/notebook/presupuesto']" [class.active]="currentTab === 'Presupuesto'" (click)="setCurrentTab('Presupuesto')">Presupuesto</button>
        <button class="tablinks" [routerLink]="['/notebook/objetivos']" [class.active]="currentTab === 'Objetivos'" (click)="setCurrentTab('Objetivos')">Objetivos</button>
        <button class="tablinks" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</div>
