<div class="lista-container">
  <div class="header">
    <h1>Recordatorios</h1>
    <form [formGroup]="recordatoriosForm">
      <input type="text" formControlName="recordatorioInput" placeholder="Nuevo recordatorio...">
      <input type="date" formControlName="fechaRecordatorio">
      <button type="button" (click)="agregarRecordatorio()">Agregar Recordatorio</button>
    </form>
  </div>
  <div class="list-content">
    <ul>
      <li *ngFor="let recordatorio of recordatorios; let i = index">
        <span class="item-content">{{ recordatorio.fecha }}: {{ recordatorio.texto }}</span>
        <span class="delete" (click)="eliminarRecordatorio(i)">✗</span>
      </li>
    </ul>
  </div>
</div>
