<div class="lista-container">
  <div class="header">
    <h1>Objetivos de Ahorro</h1>
    <form [formGroup]="objetivosForm">
      <input type="text" formControlName="objetivoInput" placeholder="Objetivo">
      <input type="number" formControlName="montoObjetivoInput" placeholder="Monto objetivo">
      <button type="button" (click)="agregarObjetivo()">Agregar Objetivo</button>
    </form>
  </div>
  <div class="list-content">
    <ul>
      <li *ngFor="let objetivo of objetivos; let i = index">
        <span class="item-content">{{ objetivo.nombre }}: {{ objetivo.monto.toFixed(2) }} €</span>
        <span class="delete" (click)="eliminarObjetivo(i)">✗</span>
      </li>
    </ul>
  </div>
</div>
